{% extends 'base.html' %}

{% block title %}Homepage of Rango{% endblock %}

{% block body_block %}
{% if user.is_authenticated %}
<h1>Rango says...{{ user.username }}!</h1>
{% else %}
<h1>Rango says...hello world!</h1>
{% endif %}
<h2>Category:</h2>
{% if categories %}
    <ul>
        {% for category in categories %}
            <li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
    <h2>Page:</h2>
    {% if pages %}
        <ul>
            {% for page in pages %}
                <li><strong>{{ page.title }}</strong>  Views <strong>{{ page.views }}</strong></li>
            {% endfor %}
        </ul>
    {% endif %}
{% else %}
    <strong>There are no categories present.</strong>
{% endif %}
{% endblock %}